/*
* @Author: Jack Lightbody
* @Date:   2017-10-23 13:50:02
* @Last Modified by:   Jack Lightbody
* @Last Modified time: 2017-10-23 13:56:08
*/
.left-sidebar-menu{
	background-color: #222;
	padding: 10px 0px;
	height: 100%;
}
.left-sidebar-menu{
	background-color: #222;
	padding-top: 10px;
}
.navbar-default{
	margin-bottom: 0px;
}